<!DOCTYPE html>
<html>
<head>
    <title>Dashboard Tool</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <script src="http://code.angularjs.org/1.2.16/angular.js"></script>
    <script src="http://rawgit.com/YousefED/ElasticUI/master/examples/demo/lib/elasticsearch.angular.js"></script>
    <script src="http://rawgit.com/YousefED/ElasticUI/master/examples/demo/lib/elastic.js"></script>
    <script src="http://rawgit.com/YousefED/ElasticUI/master/dist/elasticui.min.js"></script>
     
    <style>
        .sidebar {
            position: fixed;
            top: 0;
            bottom: 0;
            z-index: 1000;
            display: block;
            padding: 20px;
            overflow-x: hidden;
            overflow-y: auto;
            background-color: #f5f5f5;
            border-right: 1px solid #eee;
        }

        .instructions {
            display: block;
            margin: 0 auto;
            width: 800px;
        }
    </style>
    <script>
        angular
            .module('tutorial', ['elasticui'])
	    .controller('MyController', function ($scope, $window) {
            $scope.Sellers = [{
                Id: 1,
                Name: 'momentum59parts'
            }, {
                Id: 2,
                Name: 'autozone'
            }, {
                Id: 3,
                Name: 'tasca'
            }];
	$scope.Source = [{
                Id: 1,
                Name: 'Inventory Received'
            }, {
                Id: 2,
                Name: 'Inventory In Tool'
            }, {
                Id: 3,
                Name: 'Inventory Sent'
            }];
	
        })
            .constant('euiHost', 'http://localhost:9200'); // ACTION: change to cluster address
	    
    </script>
</head>
<body ng-app="tutorial" eui-index="'embulk'"><!-- ACTION: change to index name -->

    <div class="container-fluid" ng-controller="MyController">
 	
      
   
        <div class="row">
            <div class="col-xs-3 sidebar">
		
		<h3>Select Seller</h3>
		<select ng-model="sellerid" ng-options="Seller.Name for Seller in Sellers">
       		</select>
		<! <select id="sellerid2" >
     		<! <option  ng-model="sellerid2" ng-repeat="doc in indexVM.results.hits.hits" 			v <!value="{{doc._source}}">{{doc._source | json | limitTo: 20}}</option>
   		<! </select>
		<!<select ng-model="sellerid2" ng-options="doc in indexVM.results.hits.hits">
       		<!</select>
               <! <h3>Search</h3>
		<br>
		<br>
                <eui-searchbox field="'product sku'"></eui-searchbox> <!-- ACTION: change to field to search on -->
               <br>


                <h3>Results Per Page</h3>
                <select ng-model="indexVM.pageSize">
                    <option ng-repeat="item in [10, 20, 50, 100]">{{item}}</option>
                </select>
            </div>
            <div class="col-xs-9 col-xs-offset-3 main">
                <div class="instructions panel panel-primary">
                <b>Last File Received :</b> 1/09/2017 9:00 AM <br>  
                <b>Last File Sent :</b>  1/09/2017 9:00 AM  <br> 
		<b># Parts received :</b> 20 <br> 
                <b># Product Non matches :</b> 20 <br>  
                <b># DCF Non match :</b>  20  <br> 
                <b># Seller Uploaded Images :</b> 20 <br>  
                <b># Parts Inserted/Updated in tool :</b>  20  <br> 
                <b># Parts sent to eBay :</b> 20 <br>  
		<h3>Select Data Extract Source</h3>
		<select ng-model="source" ng-options="Source.Name for Source in Source">
       		</select>
                <h1>Results</h1>
                <ul>
                    <li ng-repeat="doc in indexVM.results.hits.hits | filter : sellerid.Name">
                        {{doc._source | json | limitTo: 500}} <!-- OPTIONAL: display more meaningful data instead of json -->
                    </li>
                </ul>
                <eui-simple-paging></eui-simple-paging>
            </div>
        </div>
    </div>
</body>
</html>
